@import url('https://fonts.googleapis.com/css?family=Karma|Open+Sans|Playball');
  

body {font-family: 'Karma', serif;
	
}
h1, h2, h3 {  
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-style: black;
	font-size: 60px;
}

h4 {
	font-family: 'Playball', cursive;
	font-size: 40px;

}



